<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Art</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <style>
     .carousel-inner > .item > img,
     .carousel-inner > .item > a > img {
        width: 80%;
        height: 500px;
        margin: auto;
     }

    </style>
</head>
<body>

{% load static %}

<div class="container">
    <div class="text-center"> <h1>Art</h1>
        </div>
    <br>

    {% for painting in paintings %}
    {% if forloop.first %}
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->

        <ol class="carousel-indicators">
            {% for unused in paintings %}
            {% if forloop.first %}
            <li data-target="#carousel-example-generic" data-slide-to="{{forloop.counter0}}" class="active"></li>
            {% else %}
            <li data-target="#carousel-example-generic" data-slide-to="{{forloop.counter0}}"></li>
            {% endif %}
            {% endfor %}
        </ol>

        <div class="carousel-inner" role="listbox">
            {% endif %}

            <!-- Wrapper for slides -->
            {% if forloop.first %}
            <div class="item active">
            {% else %}
                <div class="item">
            {% endif %}
                    <img src="{{ painting.image.url }}" alt="{{painting.name}}">
                    <div class="carousel-caption">
                        <h3>{{painting.name}}</h3>
                    </div>
                </div>

            {% if forloop.last %}
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        {% endif %}
        {%empty%}
        <div class="text-center"> <h1>No data</h1>
        </div>
        {% endfor %}
        <br>
        <div class="pull-right">
            <img src="{% static "logo_thumb.png" %}" alt="Logo" widht="60" height="40"/>
        </div>
            <br>

    </div>

</body>
</html>